


<div class="container" id="main-container">
<div id="main-content">
    <div class=" text-center align-middle">
      <a class="navbar-brand text-center" href="/"><img style="width: 29px;
      position: relative;
      left: -9px;
      top: -4px;" src="logo-2.png"><strong id="company-name">Freshworks Software Academy</strong></a>
    </div>

<div class="form-container" id="form-container">
  <%= form_with(url: "applicant", method: "get",id:"search-bar" ) do %>
    <div class="inner-form">
      <div class="input-field first-wrap" id="search-box">
        <div class="svg-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
          </svg>
        </div>
        <%= email_field_tag "email",nil, placeholder: "Enter your Email to track your application status",autofocus: true,required: true, autocomplete: 'off'%>
      </div>
      <div class="input-field secondButton-wrap">
          <%= submit_tag "Search", class:"btn-search",id:"search-button"%>
      </div>
    </div>
  <% end %>
</div>

<% unless @candidates.nil? %>
  <table class="table table-bordered " id="candidate-details">
   <%if @candidates.empty? %>
    <%# <h2 class="text-center">Please enter the registered email address</h2> %>
    <div class="alert alert-danger d-flex align-items-center text-center" role="alert" id="not-found-error">
  <div>
    Please enter the registered email address
  </div>
</div>
   <% else %>
   <%eligible =false %></div>
  <% @candidates.each do|candidate|%>
    <% if candidate.eligible? && !eligible%>
      <%eligible=true%>
      <div class="alert alert-primary text-center"  id="alert" role="alert">
      <strong>[IMPORTANT] FSAT (Online Entrance Exam) Results-Announced</strong>
      Please check your registered email (spam/promotions folder as well) for updates from us.
        <%# <%= link_to  "Read More", details_path %>
      </div>
    <%break %>
   <% end %>
  <% end %>

    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <!--<th scope="col"> FSAT Eligibility</th>-->
        <th scope="col"> FSAT Status</th>
        <%# <th scope="col">FSAT Link</th> %>
      </tr>
    </thead>
    <tbody>
      <% @candidates.each do|candidate|%>
        <tr>
          <td scope="row"><%=candidate.name%></td>
          <td style="word-break:break-all;"><%=candidate.email%></td>
          <!--<td>
            <% if candidate.eligible?%>
              <strong id="eligible">Eligible</strong>
            <%else%>
              <strong id="not-eligible">Not Eligible</strong>
            <% end %>
           </td>-->
           <!--<%if candidate.eligible?  %>
           <td><a href="https://fsat.fwsa.freshworks.com/Authenticate?id=0c8899661d"><strong>Exam Link</strong></a></td>
          <% else %>
            <td>---</td>
           <% end %>-->
           <td><% if candidate.status == 'Selected for Final Round'%>
              <strong id="eligible">Selected for Final Round</strong>
            <%else%>
              <strong id="not-eligible">Not Selected</strong>
           <% end %>


           </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>


  <!-- <% @candidates.each do|candidate|%>
    <% if candidate.eligible?%>
        <div class="text-center" id="fsat-video">
         <iframe width="550" height="300" src="https://www.youtube.com/embed/PTTvqXzsN8A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      <%break%>
   <% end %>
  <% end %>-->
<% end %>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  if ($(window).width() < 400 ) {
    $("input[type='email']").attr("placeholder","Enter your registered Email-ID");
}

</script>
