<!DOCTYPE html>
<html>
  <head>
    <title>FWSA Application Status</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <%= favicon_link_tag asset_path('icon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid text-center">
          <a class="navbar-brand text-center" href="/"><img style="width: 29px;
          position: relative;
          left: -9px;
          top: -4px;" src="logo-2.png"><strong id="company-name">Freshworks Software Academy</strong></a>
        </div>
    </nav>

    <%= yield %>
  </body>
</html>
